{% for card in cards %}
<article class="card" data-filename="{{ card.filename }}">
  <button type="button" class="card-image" title="Show image group">
    <img src="{{ card.preview_url }}" alt="{{ card.filename }}" loading="lazy">
  </button>
  <button type="button" class="card-name" title="{{ card.filename }}">{{ card.name }}
    {% if modality == 'all' %}<span class="card-modality">{{ card.modality_display }}</span>{% endif %}
  </button>
  <div class="labels">
    <label class="label-check good">
      <input type="checkbox" class="label-checkbox" data-key="{{ good_key }}"
             {% if card.good %}checked{% endif %}> {{ good_label }}
    </label>
    {% for defect in defects %}
    <label class="label-check">
      <input type="checkbox" class="label-checkbox" data-key="{{ defect.key }}"
             {% if card.defects[defect.key] %}checked{% endif %}> {{ defect.display_name }}
    </label>
    {% endfor %}
  </div>
</article>
{% endfor %}
